page-time-off-request {
.ion-calendar {
    padding: 10px 0px 0px 20px !important;
}
.today{
    border: 1px solid #7babed;
}
.ion-viewport {
    min-height: 100px;
    width:100%;
    background-color: #7babed;
  }
.font-30{
    font-size: 30px;
    font-family: 'Montserrat'
}
.font-mont{
    font-family: 'Montserrat'
}  
}
