page-profileadd {

}
.submit-button{
    height: 45px;
}
.img-center-round{
    width:80px;
    height:80px;
    border-radius: 50%;
    margin: 0 auto;
}

$ccc: (
    primary: #fa1515
);

$toggle-md-active-color: #fa9e15;
$toggle-md-track-width:100px;
// $radio-md-color-on:#32db64;